﻿@model PlattSampleApp.Models.PeopleViewModel

<!DOCTYPE html>

<html>
<head>
    <title>These characters are shorter than me... I might be able to beat them at a game of basketball</title>
</head>
<body>
    <div>
        <h3>These characters are shorter than me... I may be able to beat them at a game of basketball</h3>
        @foreach (var person in Model.Residents)
        {
            <div>
                <ul>
                    <li>Name: @person.Name</li>
                    <li>Gender: @person.Gender</li>
                    <li>Height: @person.Height cm</li>
                    <li>Weight: @person.Weight kg</li>
                    <li>Hair Color: @person.HairColor</li>
                    <li>Eye Color: @person.EyeColor</li>
                    <li>Skin Color: @person.SkinColor</li>
                </ul>
            </div>
        }
    </div>
</body>
</html>